body, html {
  height: 100%;
  width: 100%;
}

#landing {
  background-image: url("library.jpg");
  height: 100%;
  size: cover;
  margin-bottom: 0px;
  background-size: cover;
  opacity: 0.2;
}

h1, h3 {
  opacity: 1.0;
}
