<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/style.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <title>Home</title>
</head>
<body>

  <nav style="background-color: #5f6a72 !important" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index')}}">Campus Connection</a>
  <i class="fas fa-book-reader"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% if not username %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('login')}}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('register')}}">Register</a>
       </li>
        {% else %}
  		<li class="nav-item">
        <a class="nav-link" href="{{ url_for('results')}}">Your Matches</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout')}}">Log Out</a>
       </li>
        {% endif %}

    </ul>
  </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>
